.chatBox {
    width: 100%;
    height: 100%;
    display: flex;
}


/* 在线用户列表 */

.chatBox .connectedList {
    width: 27%;
    position: relative;
}

.chatBox .connectedList .userInfo {
    position: absolute;
    top: 10%;
    left: 108%;
}

.chatBox .connectedList .box-card {
    height: 100%;
    border-bottom: 0;
    border-top: 0;
}

.chatBox .connectedList .box-card .onlineUser {
    margin-bottom: 10px;
}

.chatBox .connectedList .box-card .el-card__body {
    padding: 10px 5px;
    text-align: center;
}

.chatBox .connectedList .box-card .selectuser {
    display: flex;
}

.chatBox .connectedList .box-card .selectuser button {
    margin-left: 5px;
}


/* 聊天部分 */

.chatBox .chatBody {
    /* border: 3px solid darkturquoise; */
    width: 73%;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* 视频提示 */


/* .chatBox .chatBody .videoNotify {
    position: absolute;
    width: 100%;
    height: 5%;
    background: rgba(0, 0, 255, .3);
    z-index: 2;
    text-align: center;
    color: #fff;
    line-height: 177%;
} */

.chatBox .chatBody #chatMsgBox {
    height: 480px;
    /* margin-bottom: 40px; */
    overflow: auto;
    position: relative;
}

.chatBox .chatBody #chatMsgBox .avatar {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #000;
    margin: 8px 10px 5px 10px;
    overflow: hidden;
    border-radius: 50%;
    color: #fff;
    background-color: #2b4b6b;
}


/* 系统消息 */

.chatBox .chatBody #chatMsgBox .sysInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatBox .chatBody #chatMsgBox .sysInfo .avatar {
    visibility: hidden;
}

.chatBox .chatBody #chatMsgBox .sysInfo .msg {
    color: #00f;
    text-align: center;
    margin: 10px 0 10px 0;
}


/* 自己的消息 */

.chatBox .chatBody #chatMsgBox .myMsg {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.chatBox .chatBody #chatMsgBox .myMsg .msg {
    max-width: 300px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    right: 10px;
    background-color: rgb(160, 241, 38);
    border: 1px solid green;
    border-radius: 8px;
    padding: 8px 10px 8px 10px;
    margin: 10px 10px 10px 0;
    text-align: center;
}

.chatBox .chatBody #chatMsgBox .myMsg .msg p {
    margin: 0;
}


/* 其他用户信息 */

.chatBox .chatBody #chatMsgBox .anotherMsg {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.chatBox .chatBody #chatMsgBox .anotherMsg .msg {
    max-width: 300px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    left: 10px;
    border: 1px solid gray;
    border-radius: 9px;
    padding: 5px;
    margin: 10px 0 10px 10px;
    background-color: #fff;
}

.chatBox .chatBody #chatMsgBox .anotherMsg .msg p {
    margin: 0;
}

.chatBox .chatBody p {
    text-align: center;
}


/* 聊天工具栏 */

.chatBox .chatBody #toolBar {
    padding: 0 3px 0 10px;
    display: flex;
    background-color: rgb(252, 252, 252);
    position: relative;
}


/* 发送图片 */

.chatBox .chatBody #toolBar .upImgBox {
    position: relative;
    margin-right: 10px;
}

.chatBox .chatBody #toolBar .upImgBox #upImageFile {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.chatBox .chatBody #toolBar .upImgBox .upImgBtn {
    font-size: 27px;
}


/* 发送表情 */

.chatBox .chatBody #toolBar .iconsmile {
    font-size: 27px;
    margin-right: 10px;
}


/* 发送文件 */

.chatBox .chatBody #toolBar .upFileBox {
    position: relative;
    margin-right: 10px;
}

.chatBox .chatBody #toolBar .upFileBox .upFile {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.chatBox .chatBody #toolBar .upFileBox .upFileBtn {
    font-size: 27px;
}


/* 聊天记录 */

.chatBox .chatBody #toolBar .chatRecordBtn {
    font-size: 27px;
}

.chatBox .chatBody #toolBar .chatRecordBox {
    position: absolute;
    bottom: 170%;
    left: 10%;
    width: 70%;
    height: 700%;
}


/* 音视频通话 */

.chatBox .chatBody #toolBar .videoCallBtn {
    font-size: 27px;
}

.chatBox .chatBody #toolBar .videoCallBox {
    position: absolute;
    bottom: 170%;
    left: 5%;
    width: 90%;
    height: 700%;
}


/* 信息发送区域 */

.chatBox .chatBody .sendBox {
    width: 97%;
    display: flex;
    padding: 15px 10px;
    background-color: rgb(252, 252, 252);
}

.sendBox .sendBtn {
    margin-left: 10px;
}